.contact {
  padding: 3rem 0;
  text-align: center;

  @include cover-background("/img/contact.png");

  @include opacity(rgba(255, 255, 255, 0.5));

  .icon {
    margin: 0 0 2rem 0;

    img {
      height: 256px;
      width: 256px;
    }
  }

  .body {
    margin: 0 0 3rem 0;

    h2 {
      font-size: 2rem;
      margin: 0 0 2rem 0;
    }

    p {
      margin: 0;
      line-height: 2;
    }
  }

  .form {
    input, select, textarea {
      background-color: #fff;
      border: 1px solid #ddd;
      color: #aaa;
      display: block;
      margin-bottom: 0.5rem;
      outline: none;
      width: 100%;
    }

    input, select {
      padding: 0.5rem 1rem;
    }

    textarea {
      height: 142px;
      padding: 1rem;
      resize: none;
    }

    .button-container {
      text-align: right;

      button {
        background-color: #555;
        border: 1px solid #444;
        color: #fff;
        font-weight: 600;
        padding: 0.5rem 1rem;
      }
    }
  }
}
