.ab-contact {
  @extend .section;
  @include cover-background;

  padding: 3rem 0;
  text-align: center;

  .icon {
    margin: 0 0 2rem 0;

    img {
      height: auto;
      width: 400px;
    }
  }

  .body {
    margin: 0 0 3rem 0;

    h3 {
      font-size: 2rem;
      margin: 0 0 2rem 0;
    }

    p {
      margin: 0;
      line-height: 2;
    }
  }

  .form {
    width: 60%;
    margin-left: 20%;

    input, select, textarea {
      background-color: #fff;
      border: 1px solid #ddd;
      color: #aaa;
      display: block;
      margin-bottom: 0.5rem;
      outline: none;
      width: 100%;
      box-sizing: border-box;
    }

    input, select {
      padding: 0.5rem 1rem;
    }

    textarea {
      height: 156px;
      padding: 1rem;
      resize: none;
    }

    .button-container {
      text-align: right;

      button {
        background-color: #222;
        border: 1px solid #444;
        color: #fff;
        font-weight: 600;
        padding: 0.5rem 1rem;
      }

    }

    .left-content, .right-content {
      box-sizing: border-box;
      width: 50%;
    }

    .left-content {
      float: left;
      padding-right: 0.25rem;
    }

    .right-content {
      float: right;
      padding-left: 0.25rem;
    }
  }

  #contact-message {
    margin: 10rem 0;
    padding: 5rem 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;

    h3 {
      font-size: 1.3rem;
      color: #222;
      margin-bottom: 1rem;
    }

    p {
      color: #444;
      font-size: 1.1rem;
    }
  }
}
