body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

a:hover, button:hover {
  cursor: pointer;
}

.section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.vertical-container {
  display: table;
  height: 100%;
  position: absolute;
  width: 100%;

  .vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.clearfix {
  clear: both;
}
