// Global
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

a:hover, button:hover {
  cursor: pointer;
}

// Section
.section {
  position: relative;
  width: 100%;
  overflow: hidden;
}

// Center
.vertical-container {
  display: table;
  height: 100%;
  position: absolute;
  width: 100%;

  .vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

// Columns
$columns: 10;

@for $i from 1 through $columns {
  $width: percentage(1 / $i);

  .col-#{$i} {
    box-sizing: border-box;
    float: left;
    width: $width;
  }
}

// Utils
.clearfix {
  clear: both;
}
