.ab-header {
  @extend .section;

  position: relative;

  .menu {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    .icon {
      background-color: white;
      border-radius: 0 0 2rem 2rem;
      display: inline-block;
      float: left;
      margin-left: 3rem;
      padding: 0.5rem 0;
      position: absolute;

      img {
        height: 128px;
        width: 128px;
      }
    }

    .navbar-container {
      padding: 2rem 0 2rem 15rem;

      .navbar {
        display: inline-block;
        float: left;
        margin: 0;

        .navbar-item {
          float: left;
          margin-right: 1.5rem;
          list-style: none;

          a {
            color: #eee;
            text-decoration: none;
            font-weight: 600;
            line-height: 1.5;

            &:hover {
              color: #fff;

              span:before {
                visibility: visible;
                transform: scaleX(1);
              }
            }

            span {
              position: relative;
              display: block;

              &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #fff;
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.3s ease-in-out 0s;
              }
            }
          }

          &.active {
            a {
              span:before {
                visibility: visible;
                transform: scaleX(1);
              }
            }
          }
        }
      }

      .navbar-button {
        float: right;
        display: none;
        margin-right: 2rem;

        #toggle-navbar {
          border: none;
          border-radius: 1rem;
          padding: 0.5rem 1rem;
          background-color: rgba(100, 100, 100, 0.2);
          color: #fff;
          font-size: 2rem;
        }
      }
    }
  }
}
