@include mobile-and-tablet {
  /* SECTIONS */
  .ab-header {
    height: auto;
    padding: 15rem 0;

    .menu {
      .icon {
        border-radius: 0 0 2rem 0;
        margin: 0;
      }

      .navbar-container {
        padding: 0.5rem 0;

        .navbar {
          display: none;
          width: 75%;
          float: left;

          .navbar-item {
            float: none;
            margin: 0 0 0.5rem 0;
            padding: 0.2rem;
            font-size: 0.9rem;
            text-align: center;

            &.active {
              background-color: rgba(50, 50, 50, 0.5);
              border-radius: 0 1rem 1rem 0;
            }

            span {
              display: none;

              &:before {
                display: none;
              }
            }
          }
        }

        .navbar-button {
          display: inline-block;
          width: 20%;
          margin: 0;
        }
      }
    }

    // TODO
    .content {
      padding: 0 2rem;

      article {
        h1 {
          font-size: 1.2rem;
        }
        h2 {
          font-size: 1.1rem;
        }
      }
    }
  }

  .card {
    header {
      h1 {
        font-size: 0.9rem;

        .toggle-btn {
          padding: 0 1rem;
        }
      }
    }
  }

  .ab-contact {
    .form {
      width: 96%;
      margin-left: 2%;
    }
  }

  .footer {
    .contact-information {
      .contact-item {
        width: 100%;
        margin-bottom: 0.5rem;
      }
    }
  }

}

@include tablet {
}

@include mobile {
  .ab-contact {
    .form {
      .left-content, .right-content {
        float: none;
        width: 100%;
        padding: 0;
      }
    }
  }
}
