@include mobile {
  .home-header {
    .content {
      bottom: 15%;

      .body {
        margin-bottom: 1.5rem;

        h1 {
          font-size: 1.2rem;
        }
      }
    }
  }

  .home-section {
    .main-header {
      h2 {
        font-size: 1.5rem;
      }
    }

    .main-items {
      .item-container {
        .item {
          float: none;
          width: 100%;

          .body {
            padding-left: 1rem;
            padding-right: 1rem;
          }
        }
      }
    }
  }
}

@include mobile-and-tablet {
  .home-section {
    .main-items {
      .item-container {
        width: 100%;
        margin: 0;
      }
    }
  }
}
