.home-header {
  @include opacity(rgba(0, 0, 0, 0.8));

  .content {
    padding: 15rem 0;
    text-align: center;

    article {
      h1 {
        margin-bottom: 3rem;
      }
    }
  }
}

.home-section {
  @include cover-background;
  @include opacity(rgba(255, 255, 255, 0.2));

  .main-header {
    padding: 5rem 0;
    text-align: center;

    h2 {
      color: rgba(0, 0, 0, 0.6);
      font-size: 2.5rem;
    }
  }

  .main-items {
    padding: 4rem 0;
    overflow: hidden;
    text-align: center;

    @include opacity(rgba(0, 0, 0, 0.5));

    .item-container {
      width: 90%;
      margin-left: 5%;
      box-sizing: border-box;
      overflow: hidden;

      .item {
        text-align: center;
        padding: 1rem;
        float: left;
        width: 25%;
        box-sizing: border-box;

        .icon {
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.8);
          width: 128px;
          height: 128px;
          display: inline-block;
          position: relative;
          transition: all .8s ease;

          .image-container {
            img {
              width: 64px;
              height: auto;
              opacity: 0.6;
              filter: alpha(opacity=50); /* For IE8 and earlier */
            }
          }

          &:hover {
            box-shadow: 0 0 15px #000;
          }
        }

        .body {
          padding: 1rem 0;

          p {
            color: #fff;
            font-size: 1rem;
            text-align: center;
            line-height: 1.5;

            strong {
              color: #eee;
              text-decoration: none;
              transition: all 0.5s ease;
              font-weight: bold;
            }
          }
        }

        &:hover {
          .body {
            p {
              strong {
                @include text-border(0, rgba(0, 0, 0, 0.8));
              }
            }
          }
        }

      }
    }
  }

  .main-footer {
    padding: 2rem 0;
    text-align: center;

    h3 {
      font-size: 1rem;
      margin: 0 0 1rem 0;
    }

    h4 {
      font-size: 1rem;
      margin: 0;
    }
  }
}

.home-contact {
  @include opacity(rgba(255, 255, 255, 0.8));
}
