.home-header {
  @include cover-background("/img/home/header.png");
  @include opacity(rgba(0, 0, 0, 0.6));

  height: 100vh;

  .content {
    position: absolute;
    bottom: 25%;
    text-align: center;

    .body {
      color: #fff;
      margin-bottom: 3rem;
      padding: 0 1rem;

      h1 {
        font-size: 1.6rem;
        line-height: 1.5;
        margin: 0;
      }
    }

    .button {
      button {
        background-color: #fff;
        border: none;
        border-radius: 1.4rem;
        font-weight: 600;
        padding: 1rem 2rem;
      }
    }
  }
}

.home-section {
  @include cover-background("/img/home/main.png");
  @include opacity(rgba(255, 255, 255, 0.2));

  .main-header {
    padding: 8rem 0;
    text-align: center;

    h2 {
      color: rgba(0, 0, 0, 0.6);
      font-size: 2.5rem;
    }
  }

  .main-items {
    padding: 4rem 0;
    overflow: hidden;
    text-align: center;

    @include opacity(rgba(0, 0, 0, 0.5));

    .item-container {
      width: 80%;
      margin-left: 10%;
      box-sizing: border-box;
      overflow: hidden;

      .item {
        text-align: center;
        padding: 1rem;
        float: left;
        width: 20%;
        box-sizing: border-box;

        .icon {
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.8);
          width: 128px;
          height: 128px;
          display: inline-block;
          position: relative;

          .image-container {
            img {
              width: 64px;
              height: auto;
              opacity: 0.6;
              filter: alpha(opacity=50); /* For IE8 and earlier */
            }
          }
        }

        .body {
          padding: 1rem 0;

          p {
            color: #fff;
            font-size: 1rem;
            text-align: justify;
            line-height: 1.5;
          }
        }

      }
    }
  }

  .main-footer {
    padding: 2rem 0;
    text-align: center;

    h3 {
      font-size: 1rem;
      margin: 0 0 1rem 0;
    }

    h4 {
      font-size: 1rem;
      margin: 0;
    }
  }
}

.home-contact {
  @include cover-background("/img/home/contact.png");
  @include opacity(rgba(255, 255, 255, 0.5));
}
