<section class="ab-contact {{prefix}}-contact b-lazy" data-src="{{assets.img}}/{{prefix}}/contact.png">

  <div class="icon">
    <img src="{{assets.img}}/{{site.logo}}" alt="{{description}}" />
  </div>

  <div class="body">
    <h2>¿QUERÉS SABER ALGO MÁS?</h2>
    <p>
      Tranquilo, acá te dejamos el formulario y el teléfono con
      <strong>Whatsapp</strong>.
    </p>
    <p>Estamos a tu disposición para cualquier consulta.</p>
  </div>


    <form id="contact-form" class="form">

      <div class="left-content">
        <input type="text" placeholder="Nombre" name="nombre">
        <input type="text" placeholder="E-Mail" name="email">
        <input type="text" placeholder="Teléfono" name="telefono">


        <div class="left-content">
          <select name="event">
            <option value="fiesta15">Fiesta de 15</option>
            <option value="fiesta18">Fiesta de 18</option>
            <option value="fiesta50">Fiesta de 50</option>
            <option value="evento-empresarial">Evento empresarial</option>
            <option value="fiesta-sin-alcohol">Fiesta sin alcohol</option>
            <option value="fiesta-privada">Fiesta privada</option>
            <option value="cena-egresados">Cena de egresados</option>
            <option value="otro">Otro</option>
          </select>
        </div>

        <div class="right-content">
          <input type="number" placeholder="Cant invitados" name="invitados">
        </div>

      </div>

      <div class="right-content">
        <textarea name="mensaje" cols="40" rows="4" id="mensaje">Mensaje</textarea>

        <div class="button-container">
          <button type="submit">Enviar Mensaje</button>
        </div>
      </div>

    </form>

    <div class="clearfix"></div>

</section>
