<footer class="section footer">
  <div class="copyright">
    <p>
      Todos los derechos reservados &copy; <a href="#">IDEE</a>
    </p>
  </div>

  <div class="brands">
    {{> brands}}
  </div>

  <div class="contact-information">
    {{#each contact}}
    <div class="contact-item">
      <i class="fa fa-location-arrow"></i>
      <div class="icon">
        <img src="{{../assets.icons}}/{{this.icon}}" alt="{{this.text}}"/>
      </div>
      <p class="text">{{this.text}}</p>
    </div>
    {{/each}}
  </div>

</footer>
