<footer class="section footer">
  <div class="copyright">
    <p>
      Todos los derechos reservados &copy; <a href="#">IDEE</a>
    </p>
  </div>

  <div class="brands">
    {{> brands}}
  </div>

  <div class="contact-information">
    {{#each contact}}
    <div class="contact-item">

      <div class="icon">
        <i class="fa fa-{{this.icon}}"></i>
      </div>
      <p class="text">{{this.text}}</p>

      <div class="clearfix">
      </div>

    </div>
    {{/each}}

    <div class="clearfix"></div>
  </div>


</footer>
