<footer class="ab-footer {{prefix}}-footer">
  <div class="copyright">
    <p>
      Todos los derechos reservados &copy; <a href="#">IDEE</a>
    </p>
  </div>

  <div id="brands" class="brands">
  </div>

  <div class="contact-information">
    {{#each contact}}
    <div class="contact-item">

      <div class="icon">
        <i class="fa fa-{{this.icon}}"></i>
      </div>
      <p id="{{this.icon}}" class="text">{{{this.text}}}</p>

      <div class="clearfix">
      </div>

    </div>
    {{/each}}

    <div class="clearfix"></div>
  </div>


</footer>
