<header class="ab-header {{prefix}}-header b-lazy" data-src="{{assets.img}}/{{prefix}}/header.jpg">

  <nav class="menu">

    <div class="icon">
      <img src="{{assets.img}}/{{site.logo}}" alt="{{description}}" />
    </div>

    <div class="navbar-container">
      <div class="navbar-button">
        <button id="toggle-navbar"><i class="fa fa-bars"></i></button>
      </div>

      <ul class="navbar">
        {{#each pages}}
        <!-- {{url}} -->
        <li class="navbar-item {{#ifCond this.url '==' ../url}}active{{/ifCond}}">
          <a href="{{this.url}}">
            <span>
              {{this.name}}
            </span>
          </a>
        </li>
        {{/each}}
      </ul>

      <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

  </nav>


  {{#block "header-content"}}
  {{{contents}}}
  {{/block}}

</header>
