{{#extend "default"}}

  {{#content "header-content"}}
  <section class="content">

    <div class="row">
      <article class="col-10 col-offset-1 col-mobile-12 col-tablet-12">
        <h1>
          <strong>BARRA MÓVIL SIN ALCOHOL PARA FIESTAS JUVENILES</strong>
        </h1>
        <h2>
          <strong>VARIEDAD DE TRAGOS SIN ALCOHOL</strong>
        </h2>
        <h3>
          En esta barra vas a encontrar tragos con frutas, batidos con helado, licuados, cartas mixtas y más.
        </h3>
      </article>
    </div>

    <div class="clearfix"></div>

  </section>
  {{/content}}

  {{#content "main"}}
  {{!--
  <section class="{{prefix}}-top-section b-lazy" data-src="{{assets.img}}/{{prefix}}/main.jpg">

    <div class="content">
      <div class="row">
        <article class="col-6 col-offset-3 col-mobile-12 col-tablet-10 col-tablet-offset-1">
          <p>
            Para que los más chicos puedan disfrutar de tragos, licuados y
            batidos, <strong>JOHN JARANITA</strong> se encarga de prepararte la
            barra de tragos sin alcohol para fiestas de cumpleaños, juntada
            entre amigos, por el día del niño o lo que necesites en Mendoza.
          </p>
          <p>
            <blockquote>
              Tranquilo que también hay tragos para los más grandes, pero eso
              queda entre nosotros.
            </blockquote>
          </p>
          <p>
            Tragos con <strong>frutas, batidos con helado, daikiris sin
            alcohol</strong>, son algunos de los tragos que van a poder elegir
            los invitados con el alquiler de esta barra móvil.
          </p>
        </article>
      </div>
    </div>

    <div class="clearfix">

    </div>
  </section>
  --}}

  <section class="{{prefix}}-main-section">
    {{> card id="premium" title='CARTA DE TRAGOS' drinks=premium-drinks}}
  </section>
  {{/content}}

{{/extend}}
