{{#extend "default"}}

  {{#content "header-content"}}
  <section class="content">

    <div class="row">
      <article class="col-1 col-mobile-1 col-tablet-1">
        <h1>
          LA <strong>BARRA JUVENIL</strong> PARA FIESTAS Y CUMPLEAÑOS DE LOS MÁS CHICOS
        </h1>
        <h2>
          <strong>VARIEDAD DE TRAGOS SIN ALCOHOL</strong>
        </h2>
      </article>
    </div>

    <div class="clearfix"></div>

  </section>
  {{/content}}

  {{#content "main"}}
  <section class="{{prefix}}-top-section">

    <div class="content">
      <div class="row">
        <article class="col-3 col-center-3 col-mobile-1 col-tablet-2 col-tablet-center-2">
          <p>
            Para que los más chicos puedan disfrutar de tragos, licuados y
            batidos, <strong>JOHN JARANITA</strong> se encarga de prepararte la
            barra de tragos sin alcohol para fiestas de cumpleaños, juntada
            entre amigos, por el día del niño o lo que necesites en Mendoza.
          </p>
          <p>
            <blockquote>
              Tranquilo que también hay tragos para los más grandes, pero eso
              queda entre nosotros.
            </blockquote>
          </p>
          <p>
            Tragos con <strong>frutas, batidos con helado, daikiris sin
            alcohol</strong>, son algunos de los tragos que van a poder elegir
            los invitados con el alquiler de esta barra móvil.
          </p>
        </article>
      </div>
    </div>

    <div class="clearfix">

    </div>
  </section>

  <section class="{{prefix}}-main-section">

    <div class="content">
      <div class="row">
        <article class="col-2 col-center-2 col-mobile-1 col-tablet-1">

          <img class="left-icon" alt="Left icon" src="{{assets.img}}/{{prefix}}/top-left-leaf.png" />
          <img class="right-icon" alt="Right icon" src="{{assets.img}}/{{prefix}}/top-right-leaf.png" />

          <header>
            <h1>CARTA DE TRAGOS - CUMPLEAÑOS DE 15 - PRIMERA LÍNEA</h1>
          </header>

          <span class="separator"></span>

          <p>
            Para que los más chicos puedan disfrutar de tragos, licuados y
            batidos, <strong>JOHN JARANITA</strong> se encarga de prepararte la
            barra de tragos sin alcohol para fiestas de cumpleaños, juntada
            entre amigos, por el día del niño o lo que necesites en Mendoza.
          </p>
          <p>
            <blockquote>
              Tranquilo que también hay tragos para los más grandes, pero eso
              queda entre nosotros.
            </blockquote>
          </p>
          <p>
            Tragos con <strong>frutas, batidos con helado, daikiris sin
            alcohol</strong>, son algunos de los tragos que van a poder elegir
            los invitados con el alquiler de esta barra móvil.
          </p>

        </article>
      </div>
    </div>

    <div class="clearfix">

    </div>
  </section>
  {{/content}}

{{/extend}}
