{{#extend "default"}}

  {{#content "header-content"}}
  <section class="content">

    <div class="row">
      <article class="col-10 col-offset-1 col-mobile-12 col-tablet-10 col-tablet-offset-1">
        <h1><strong>BARRA MOVIL PARA CASAMIENTOS</strong></h1>
        <h2>
          PERSONALIZÁ TU BARRA MOVIL Y HACÉ QUE TU DÍA ESPECIAL SEA INOLVIDABLE
        </h2>
        <h3>
          John Jarana se especializa en casamientos. Está presente en cada momento, desde el compromiso
          hasta los aniversarios.
          Además de una carta personalizada con coctelería internacional, el equipo de
          mozos y bartenders animan tu evento. Sólo te queda disfrutar.           
        </h3>
      </article>
    </div>

    <div class="clearfix"></div>

  </section>
  {{/content}}

  {{#content "main"}}
  <section class="{{prefix}}-section">
    {{> card id="premium" title='CARTA DE TRAGOS' drinks=premium-drinks}}
  </section>
  {{/content}}

{{/extend}}
