{{#extend "default"}}

  {{#content "header-content"}}
  <section class="content">

    <div class="row">
      <article class="col-10 col-offset-1 col-mobile-12 col-tablet-10 col-tablet-offset-1">
        <h1>
          <strong>
            BARRA MÓVIL DE EXCELENCIA PARA EVENTOS EMPRESARIALES
          </strong>
        </h1>
        <h2>
          TRAGOS MODERNOS Y EXCLUSIVOS
        </h2>
        <h3>
          John Jarana utiliza la mejor coctelería internacional y marcas de
          primera línea para asegurar el éxito de tu evento de negocio.
        </h3>
      </article>
    </div>

    <div class="clearfix"></div>

  </section>
  {{/content}}

  {{#content "main"}}
  <section class="{{prefix}}-section">

    <div class="content">
      <div class="row">
        <div class="col-6 col-offset-3 col-mobile-12 col-tablet-10 col-tablet-offset-1">

          <header>
            <h1>CARTA DE TRAGOS - EVENTOS EMPRESARIALES - PRIMERA LÍNEA</h1>
          </header>

          <span class="separator"></span>

          {{#each drinks}}
          <article class="menu">

            <h2>{{this.name}}</h2>

            {{#each this.items}}
            <p><strong>{{this.name}}</strong>: {{this.description}}</p>
            {{/each}}

          </article>
          {{/each}}

          <img class="left-icon" alt="Left icon" src="{{assets.icons}}/top-left-leaf.png" />
          <img class="right-icon" alt="Right icon" src="{{assets.icons}}/top-right-leaf.png" />
        </div>
      </div>
    </div>

    <div class="clearfix">

    </div>
  </section>

  <section class="{{prefix}}-section">

    <div class="content">
      <div class="row">
        <div class="col-6 col-offset-3 col-mobile-12 col-tablet-10 col-tablet-offset-1">

          <header>
            <h1>CARTA DE TRAGOS - CUMPLEAÑOS DE 15 - LÍNEA PREMIUM</h1>
          </header>

          <span class="separator"></span>

          {{#each premium-drinks}}
          <article class="menu">

            <h2>{{this.name}}</h2>

            {{#each this.items}}
            <p><strong>{{this.name}}</strong>: {{this.description}}</p>
            {{/each}}

          </article>
          {{/each}}

          <img class="left-icon" alt="Left icon" src="{{assets.icons}}/top-left-leaf.png" />
          <img class="right-icon" alt="Right icon" src="{{assets.icons}}/top-right-leaf.png" />
        </div>
      </div>
    </div>

    <div class="clearfix">

    </div>
  </section>
  {{/content}}

{{/extend}}
