{{#extend "default"}}

  {{#content "header-content"}}
  <section class="content">

    <div class="row">
      <article class="col-10 col-offset-1 col-mobile-12 col-tablet-10 col-tablet-offset-1">
        <h1>
          <strong>
            BARRA MÓVIL DE EXCELENCIA PARA EVENTOS EMPRESARIALES
          </strong>
        </h1>
        <h2>
          TRAGOS MODERNOS Y EXCLUSIVOS
        </h2>
        <h3>
          John Jarana utiliza la mejor coctelería internacional y marcas de
          primera línea para asegurar el éxito de tu evento de negocio.
        </h3>
      </article>
    </div>

    <div class="clearfix"></div>

  </section>
  {{/content}}

  {{#content "main"}}
  <section class="{{prefix}}-section">
    {{> card id="premium" title='CARTA DE TRAGOS' drinks=premium-drinks}}
  </section>
  {{/content}}

{{/extend}}
