{{#extend "default"}}

  {{#content "header-content"}}
  <section class="content">

    <div class="row">
      <div class="col-6 col-offset-3 col-mobile-12 col-tablet-10 col-tablet-offset-1">
        <div class="title-container">
          <h1>
            ALQUILA ESTA BARRA CON LA MEJOR CALIDAD DE BEBIDAS PARA TU EVENTO EMPRESARIAL EN MENDOZA
          </h1>
          <h2>
            <strong>JOHN JARANA</strong> se encarga de llevar la barra de tragos
            para tu evento con las distintas opciones de cartas, desde algo para
            compartir con tus empleados hasta los tragos más sofisticados y de
            calidad para quedar bien con tus clientes.
          </h2>
          <h3>
            Whisky, vinos, cerveza artesanal, son algunas de las opciones que
            tenes a disposición en esta barra de tragos ideal para tu evento de
            negocios.
          </h3>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

  </section>
  {{/content}}

  {{#content "main"}}
  <section class="{{prefix}}-section">

    <div class="content">
      <div class="row">
        <div class="col-6 col-offset-3 col-mobile-12 col-tablet-10 col-tablet-offset-1">

          <header>
            <h1>CARTA DE TRAGOS - EVENTOS EMPRESARIALES - PRIMERA LÍNEA</h1>
          </header>

          <span class="separator"></span>

          {{#each drinks}}
          <article class="menu">

            <h2>{{this.name}}</h2>

            {{#each this.items}}
            <p><strong>{{this.name}}</strong>: {{this.description}}</p>
            {{/each}}

          </article>
          {{/each}}

          <img class="left-icon" alt="Left icon" src="{{assets.icons}}/top-left-leaf.png" />
          <img class="right-icon" alt="Right icon" src="{{assets.icons}}/top-right-leaf.png" />
        </div>
      </div>
    </div>

    <div class="clearfix">

    </div>
  </section>

  <section class="{{prefix}}-section">

    <div class="content">
      <div class="row">
        <div class="col-6 col-offset-3 col-mobile-12 col-tablet-10 col-tablet-offset-1">

          <header>
            <h1>CARTA DE TRAGOS - CUMPLEAÑOS DE 15 - LÍNEA PREMIUM</h1>
          </header>

          <span class="separator"></span>

          {{#each premium-drinks}}
          <article class="menu">

            <h2>{{this.name}}</h2>

            {{#each this.items}}
            <p><strong>{{this.name}}</strong>: {{this.description}}</p>
            {{/each}}

          </article>
          {{/each}}

          <img class="left-icon" alt="Left icon" src="{{assets.icons}}/top-left-leaf.png" />
          <img class="right-icon" alt="Right icon" src="{{assets.icons}}/top-right-leaf.png" />
        </div>
      </div>
    </div>

    <div class="clearfix">

    </div>
  </section>
  {{/content}}

{{/extend}}
