{{#extend "default"}}

  {{#content "header-content"}}
  <div class="vertical-container">
    <div class="content vertical-center">
      <div class="body">
        <h1>
          BARRAS MÓVILES DE TRAGOS PARA <strong>EVENTOS Y FIESTAS</strong> EN
          MENDOZA
        </h1>
      </div>
      <div class="button">
        <button>¡Pedí tu presupuesto!</button>
      </div>
    </div>
  </div>
  {{/content}}

  {{#content "main"}}
  <section class="main">

    <div class="main-header">
      <h2>
        Con <b>JOHN JARANA</b>...
      </h2>
    </div>

    <div class="main-items">
      {{#each items}}
      <article class="item">
        <div class="icon">
          <img src="{{../assets.icons}}/{{../prefix}}/{{this.icon}}" alt="{{this.text}}" />
        </div>
        <div class="body">
          <p>{{{this.text}}}</p>
        </div>
      </article>
      {{/each}}
    </div>

    <div class="main-footer">
      <h3>
        No invitar a <strong>JOHN JARANA</strong> es lo primero que podés hacer
        mal...
      </h3>
      <h4>¿Qué esperas?</h4>
    </div>

  </section>
  {{/content}}

{{/extend}}
