{{#extend "default"}}

  {{#content "header-content"}}
  <section class="content col-12 col-mobile-12 col-tablet-12">
    <div class="body">
      <h1>
        BARRAS MÓVILES PARA <strong>EVENTOS</strong> EN
        MENDOZA
      </h1>
    </div>
    <div class="button">
      <button id="home-btn">¡Pedí tu presupuesto!</button>
    </div>
  </section>
  {{/content}}

  {{#content "main"}}
  <section class="{{prefix}}-section b-lazy" data-src="{{assets.img}}/{{prefix}}/main.jpg">

    <div class="main-header">
      <h2>
        Con <b>JOHN JARANA</b>...
      </h2>
    </div>

    <div class="main-items">

      <div class="item-container">
        {{#each items}}
        <article class="item">

          <div class="icon">
            <div class="vertical-container">
              <div class="image-container vertical-center">
                <img src="{{../assets.icons}}/{{../prefix}}/{{this.icon}}"
                     alt="{{this.text}}" />
              </div>
            </div>
          </div>

          <div class="body">
            <p>{{{this.text}}}</p>
          </div>

        </article>
        {{/each}}
      </div>

    </div>

    <div class="main-footer">
      <h3>
        No invitar a <strong>JOHN JARANA</strong> es lo primero que podés hacer
        mal...
      </h3>
      <h4>¿Qué esperás?</h4>
    </div>

  </section>
  {{/content}}

{{/extend}}
