{{#extend "default"}}

  {{#content "header-content"}}
  <section class="content">

    <div class="row">
      <article class="col-10 col-offset-1 col-mobile-12 col-tablet-10 col-tablet-offset-1">
        <h1>
          <strong>BARRA MÓVIL</strong> EN MENDOZA
        </h1>

        <h2>
          La barra móvil más especializada en la provincia de Mendoza.
          Encontrá la opción que mas se adapte a tu necesidad y disfrutá del mejor servicio y atención
          con las mejores marcas y coctelería internacional.
        </h2>

        <div class="button">
          <button id="home-btn">¡Pedí tu presupuesto!</button>
        </div>
      </article>
    </div>

    <div class="clearfix"></div>
  </section>
  {{/content}}

  {{#content "main"}}
  <section class="{{prefix}}-section">
    <div class="slide">
      <div>
        asd
      </div>
      <div>
        qwe
      </div>
    </div>
  </section>

  <section class="{{prefix}}-section b-lazy" data-src="{{assets.img}}/{{prefix}}/main.jpg">

    <div class="main-header">
      <h3>
        Con <b>JOHN JARANA</b>...
      </h3>
    </div>

    <div class="main-items">

      <div class="item-container">
        {{#each items}}
        <article class="item">

          <a href="{{this.link}}">
            <div class="icon">
              <div class="vertical-container">
                  <div class="image-container vertical-center">
                      <img src="{{../assets.icons}}/{{../prefix}}/{{this.icon}}"
                          alt="{{this.text}}" />
                  </div>
              </div>
            </div>
          </a>

          <div class="body">
            <p>{{{this.text}}}</p>
          </div>

        </article>
        {{/each}}
      </div>

    </div>

    <div class="main-footer">
      <h3>
        No invitar a <strong>JOHN JARANA</strong> es lo primero que podés hacer
        mal...
      </h3>
      <h4>¿Qué esperás?</h4>
    </div>

  </section>
  {{/content}}

{{/extend}}
