{{#extend "default"}}

  {{#content "header-content"}}
  <section class="content">

    <div class="row">
      {{#each items}}
      <article class="item col-4 col-mobile-12">
        {{{this.text}}}
      </article>
      {{/each}}
    </div>

    <div class="row">
      <article class="bottom-item col-4 col-offset-4 col-tablet-12 col-mobile-12">
        <h1>JOHN JARANA</h1>
        <p>
          Lleva los barmans y las mozas
        </p>
        <button id="patio-cervecero-btn">PEDÍ TU PRESUPUESTO Y RESERVALO EN MENDOZA</button>
      </article>
    </div>

    <div class="clearfix"></div>

  </section>
  {{/content}}

  {{#content "main"}}
  <section class="{{prefix}}-section">
  </section>
  {{/content}}

{{/extend}}
