{{#extend "default"}}

  {{#content "header-content"}}
  <section class="content">

    <div class="row">
      <article class="bottom-item col-4 col-offset-4 col-tablet-12 col-mobile-12">
        <h1>PRÓXIMAMENTE</h1>
        <p>
          7 variedades de cerveza artesanal
        </p>
        <button id="patio-cervecero-btn">PEDÍ TU PRESUPUESTO Y RESERVALO EN MENDOZA DESDE AHORA</button>
      </article>
    </div>

    <div class="clearfix"></div>

  </section>
  {{/content}}

  {{#content "main"}}
  <section class="{{prefix}}-section">
  </section>
  {{/content}}

{{/extend}}
