// Row and columns
.row {
  width: 100%;
  display: block;
  overflow: hidden;
}

@include columns();

@include mobile {
  @include columns('mobile');
}

@include tablet {
  @include columns('tablet');
}

// Ofsets
@include desktop {
  @include columns-offset();
}

@include mobile {
  @include columns-offset('mobile');
}

@include tablet {
  @include columns-offset('tablet');
}
