@mixin opacity-layer($color) {
  .opacity-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color;
  }
}

@mixin cover-background($url) {
  background: url($url) no-repeat center center fixed;
  background-size: cover;
}

@mixin opacity($color) {
  box-shadow: inset 0 0 0 1000px $color;
}



// Media queries
$mobile-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
