@mixin opacity-layer($color) {
  .opacity-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color;
  }
}

@mixin cover-background {
  // background: url($url) no-repeat center center fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@mixin opacity($color) {
  box-shadow: inset 0 0 0 1000px $color;
}



// Media queries
$mobile-width: 768px;
$desktop-width: 1024px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

// Columns
$columns: 12;

@mixin columns($name-suffix: null) {
  @for $i from 1 through $columns {
    $width: percentage($i / $columns);
    $name: '.col-';

    @if $name-suffix != null {
      $name: $name + $name-suffix + '-';
    }

    #{$name}#{$i} {
      box-sizing: border-box;
      float: left;
      width: $width;
    }
  }
}

@mixin columns-offset($name-suffix: null) {
  @for $i from 1 through $columns {
    $margin: percentage($i / $columns);
    $name: '.col-';

    @if $name-suffix != null {
      $name: $name + $name-suffix + '-';
    }

    $name: $name + 'offset-';

    #{$name}#{$i} {
      margin-left: $margin;
    }
  }
}
